@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<input type="button" class="testid" value="aaa">


<div id="icesword" class="modal fade">
    <div class="modal-dialog modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                <i class="glyphicon glyphicon-remove"></i>
            </button>
            <h4 class="modal-title">
                ガラハド
            </h4>
        </div>
        <div class="modal-body">
            ねんがんの　アイスソードをてにいれたぞ！
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal">
                そう　かんけいないね
            </button>
            <button class="btn btn-danger" data-bind="click: close">
                殺してでも　うばいとる
            </button>
            <button class="btn btn-default" data-dismiss="modal">
                ゆずってくれ　たのむ！！
            </button>
        </div>
    </div>
</div>
